modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 33103
externalPort = 8000

[[ports]]
localPort = 33167
externalPort = 5173

[[ports]]
localPort = 33965
externalPort = 8008

[[ports]]
localPort = 34135
externalPort = 5000

[[ports]]
localPort = 34263
externalPort = 4200

[[ports]]
localPort = 35781
externalPort = 6800

[[ports]]
localPort = 36977
externalPort = 8080

[[ports]]
localPort = 38381
externalPort = 3001

[[ports]]
localPort = 40611
externalPort = 3000

[[ports]]
localPort = 41891
externalPort = 6000

[[ports]]
localPort = 45943
externalPort = 3002

[[ports]]
localPort = 46523
externalPort = 3003

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000
